* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-background {
  min-height: 100vh;
  background: rgb(129, 158, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: white;
  border-radius: 20px; /* rounding borders */
  padding: 2.5rem;
  width: 360px;
}

.title-text {
  color: #3c2069;
  margin-bottom: 4px; /* space below title to look better */
}

.subtitle {
  color: #ae7dda;
  margin-bottom: 1.75rem; /* space between subtitle and fields */
}

.field {
  margin-bottom: 1rem; /* space between email and password */
}

.field input {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #e8d5f0;
  border-radius: 10px;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background: rgb(153, 90, 195);
  border: none;
  border-radius: 50px; /* helps make borders rounder */
  color: #4a3f5c;
  cursor: pointer; /* shows the pointer */
}

.signup-row {
  text-align: center;
  margin-top: 1.25rem;
  color: #9b8aaa;
}

.requirements {
  list-style: none;
  margin-bottom: 0.75rem;
  padding: 0;
}

.requirements li {
  margin-bottom: 3px;
  font-size: 0.75rem;
  padding-left: 1.2rem;
  position: relative
}

.requirements li::before {
  content: 'x';
  position: absolute;
  left: 0;
  color: rgb(73, 73, 192);
}

.met {
  color: #666482;
}

.met::before {
  content: '✓' !important;
  color: rgb(73, 73, 192) !important;
}

.unmet {
  color: rgb(184, 9, 9);
}

.error {
  color: rgb(255, 0, 0);
  margin-bottom: 0.75rem;
  font-size: 0.82rem;
  text-align: center;
}